<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    #h1 {
        position: absolute;
        top: 5px;
        right: 1150px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color:white;
    }
    #b {
        position: absolute;
        top: 15px;
        right: 100px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color:white;
    }
</style>
<form method="post" id="form">
    <label id="b" class="float-right">
        <select name="lang" onchange="submit()">
            <option value="en" ${lang == 'en' ? 'selected' : ''}>English</option>
            <option value="ru" ${lang == 'ru' ? 'selected' : ''}><fmt:message key="ra.languageRu"/></option>
        </select>
    </label>
    <h1 id="h1"><fmt:message key="ra.repairAgency"/></h1>
</form>