#body {
    background-image: url("/images/mainPic.jpg");
}

#table{
    margin-top: 4%;
}

#tableFilter{
    margin-top: 5%;
}

#btt{
    margin-left: 50%;
    width: 100%;
    height: 50px;
    text-align:center;
}

#bttMaster{
    position: absolute;
    margin-top: 70%;
    margin-left: 130%;
    font-size: 3rem
}

.myForm {
    min-width: 50px;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 42%;
    font-size: 1.5rem
}

.size404 {
    position: absolute;
    top: 35%;
    left: 42%;
    font-size: 10rem
}

.profileForm {
    min-width: 50px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 35%;
    font-size: 1.5rem
}

.input{
    background-color: rgba(100, 100, 100, 100);
}